{
  "presets": ["@babel/preset-env",[ "@vue/app", { useBuiltIns: "entry" } ] ],
  "plugins": [
      "@babel/plugin-transform-runtime",
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-proposal-object-rest-spread",
      [
        "component",
          {
            "libraryName": "element-ui",
            "styleLibraryName": "theme-chalk"
          }
      ]
    ],
  "comments": false
}
